#search-app {
    border: 1px solid #ccc;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.aui #navigation .navbar-inner {
    background: none repeat scroll 0 0 #dedede;
}

.aui #navigation .navbar-inner li a {
    color: #4c4c4c;
}

.aui #navigation .nav > .active > a {
    background-color: #dddddd;
    background-image: linear-gradient(#118ade 0px, #118ade 47%, #1273c7 100%);
    color: #4c4c4c;
}